body {
  background-image: url(../img/background.jpeg);
  background-size: cover;
}

.container {
  background-color: white;
}

p {
  font-size: 18px;
  font-family: Tahoma;
}

.col-lg-3 {
  border: 2px red dashed;
}

a {
  text-decoration: underline;
}

#output {
  font-size: 2em;
}

#number_label {
  font-size: 2em;
}

ul > li:nth-child(3n+0) {
  color: red;
}

ul > li:nth-child(5n+0) {
  color: blue;
}

ul > li:nth-child(15n+0) {
  color: green;
}

ol {
    list-style-position: inside;
    color: black;
}
ol li {

    background-image: url('../img/green.png');
    background-size: 29px;
    background-position: -7px;
    background-repeat: no-repeat;
    padding-left: 7px;
}
