body {
  background-image: url(../img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: white;
}

#output {
  font-size: 2em;
}

#number_label {
  font-size: 2em;
}

li:nth-child(3n+0) {
  color: red;
}

li:nth-child(5n+0) {
  color: blue;
}

li:nth-child(15n+0) {
  color: green;
}
